<div class="footer_container">
    <footer>
    <div class="container">
      <div class="footer__block">
        <h3 class="footer__title">About Us</h3>
        <p>Our app serves as a valuable resource, offering information on soil types, climate, and suitable crops by district in Nepal. It identifies barren lands and recommends crops based on real-time weather data, aiding farmers in maximizing productivity and providing timely notifications for optimal planting and harvesting.</p>
        <ul class="socail__links">
          <li><a href="#" style='--clr:#4267B2'><i class="lab la-facebook-f"></i></a></li>
          <li><a href="#" style='--clr:#00acee'><i class="lab la-twitter"></i></a></li>
          <li><a href="#" style='--clr:#0072b1'><i class="lab la-linkedin-in"></i></a></li>
          <li><a href="#" style='--clr:#FD1D1D '><i class="lab la-instagram"></i></a></li>
          <li><a href="#" style='--clr:#DB4437'><i class="lab la-google-plus"></i></a></li>
  
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__title">Quick Links</h3>
        <ul class="footer__links extra__links">
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__title">Here For</h3>
        <ul class="footer__links extra__links">
          <li><a href="#">Precise Crop Recommendations</a></li>
          <li><a href="#">Barren Land Utilization</a></li>
          <li><a href="#">Real-time Weather Suggestions</a></li>
          <li><a href="#">Timely Farming Notifications</a></li>
          <li><a href="#">Informed Agri Decisions</a></li>
          <li><a href="#">Enhanced Agricultural Productivity Support</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__title">Contact Us</h3>
        <ul class="footer__links address">
          <li><a href="javascript:void(0)"><i class="las la-home"></i> Birendranagar, Surkeht, Nepal</a></li>
          <li><a tel="+1234567890"><i class="las la-phone"></i>+977 9867******</a></li>
          <li><a mailto="username@domain.com"><i class="las la-envelope"></i>soilsmart@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <div class="copyrightText">
      <p>Happy to help you!</p>
    </div>
  </footer></div>
