<div class="footer_container">
    <footer>
    <div class="container">
      <div class="footer__block">
        <h3 class="footer__title">About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus voluptas quisquam officiis ullam, praesentium quam quas sequi hic adipisci! Veniam?</p>
        <ul class="socail__links">
          <li><a href="#" style='--clr:#4267B2'><i class="lab la-facebook-f"></i></a></li>
          <li><a href="#" style='--clr:#00acee'><i class="lab la-twitter"></i></a></li>
          <li><a href="#" style='--clr:#0072b1'><i class="lab la-linkedin-in"></i></a></li>
          <li><a href="#" style='--clr:#FD1D1D '><i class="lab la-instagram"></i></a></li>
          <li><a href="#" style='--clr:#DB4437'><i class="lab la-google-plus"></i></a></li>
  
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__title">Quick Links</h3>
        <ul class="footer__links extra__links">
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__title">Shop</h3>
        <ul class="footer__links extra__links">
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Children</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Clothing</a></li>
          <li><a href="#">Watch</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__title">Contact Us</h3>
        <ul class="footer__links address">
          <li><a href="javascript:void(0)"><i class="las la-home"></i> 647 Linda Street Phoenixille ,PA19460, USA</a></li>
          <li><a tel="+1234567890"><i class="las la-phone"></i>+1234567890</a></li>
          <li><a mailto="username@domain.com"><i class="las la-envelope"></i>username@domain.com</a></li>
        </ul>
      </div>
    </div>
    <div class="copyrightText">
      <p>Copyright responsive.com All Rights Reserved. © 2023</p>
    </div>
  </footer></div>
