<div class="container_showcase">
    <div class="to_align_between">
    <div class="card_showcase">
        <img src="images/data.png" alt="data_logo">
        <h3 class="title">Data</h3>
        <p class="description">Showcase the data collection and analysis capabilities</p>
    </div>

    <div class="card_showcase">
        <img src="../images/recommend.png" alt="Recommend_logo">
        <h3 class="title">Recommend</h3>
        <p class="description">Highlight crop recommendations based on soil and climate data</p>
    </div>

    <div class="card_showcase">
        <img src="images/planner.png" alt="planner_logo">
        <h3 class="title">Planning</h3>
        <p class="description">Emphasize the planning and guidance features for optimal crop cultivation</p>
    </div>
</div></div>