<header>
    <div class="navbar">
        <ul class="links">
            <li><a href="#logo">SoilSmart</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#notification">Notification</a></li>
            <li><a href="#profile">Profile</a></li>
        </ul>
    </div>
   <!--  <div class="dropdown_menu">
        <li><a href="#logo">SoilSmart</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#notification">Notification</a></li>
        <li><a href="#profile">Profile</a></li>
    </div> -->
</header>