<header>
    <div class="navbar">
        <ul class="links">
            <li><a href="#logo">SoilSmart</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#notification" id="toggleButton"><i class="bi bi-bell"></i></a></li>
            <li><a href="#profile"><i class="bi bi-person"></i></a></li>
        </ul>
    </div>
</header>
<div id="notification_panel" class="hidden">
Hey how are you</div>
