<header>
    <div class="navbar">
        <ul class="links">
            <li><a href="#logo"><img class="logo" src="../images/logo.png" alt=""></a></li>
            <li>
                <input type="text" id="search_bar" placeholder="Enter District Name">
                <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
            </li>
            <div class="suggestions" id="suggestionList"></div>
           <div class="corner">
            <li><a href="#notification" id="toggleButton"><i class="bi bi-bell"></i></a></li>
            <li><a href="#profile"><i class="bi bi-person"></i></a></li>
           </div> 
        </ul>
    </div>
</header>
<div id="notification_panel" class="hidden">
Hey how are you</div>
