<div class=" rounded d-flex flex-column p-2">
     <a href="/profile" class="side-menu-bar-option ">
          Account
     </a>
     <a href="/yield" class="side-menu-bar-option">Your yield</a>
</div>