
<div class="about_section">
    <div class="short_about">
        <h1>
            Empowering Nepal's Farmers
        </h1>
        <h2>Personalized Crop Advice, Weather Alerts, and Barren Land Optimization - Our Agriculture App</h2>
    </div>
    <div class="illustration1"></div>
</div>
