<div class="Container_for_datacard">
    <div class="Data_card" id="soil-data-card"></div>
</div>
<div class="crops_details">
    <H3>CROPS SUGGESTION</H3>
    <div class="crop_cont_container">
        <div class="crop_cont"><span class="crop_title">Apple</span></div>
        <div class="crop_cont"><span class="crop_title">Tomato</span></div>
        <div class="crop_cont"><span class="crop_title">Cabbage</span></div>
    </div>
</div>
<div class="about_section">
    <div class="short_about">
        <h1>
            Empowering Nepal's Farmers
        </h1>
        <h2>Personalized Crop Advice, Weather Alerts, and Barren Land Optimization - Our Agriculture App</h2>
    </div>
    <div class="illustration1"></div>
</div>
