:root{
    --clr-primary: #0F0F0F;
    --clr-secondary: #FCFCFC; 
    --clr-third: #def6e5;
    --mainClr: #86be6c;
}

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    padding: 0;
    font-family: var(--primary-font);
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items:center;
    overflow-x:hidden;
    background-color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--clr-secondary) ;
    font-size: 1rem;
}
a:hover{
    color: var(--clr-third);
}

header{
    position: sticky;
    top: 0;
    margin-bottom: 15px;
    padding: 0 4rem;
    z-index: 1001;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    width: 1000px;
    margin: 3px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.4s ease;
    gap: 2rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none solid rgba(0,0,0);
    word-spacing:0;
    /* height: 48px; */
    width: 800px;
    /* padding: 0 16px; */
    background-color: #86be6c;
    border-radius: 4px;
}

.links{
    display: flex;
    gap:7rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none solid rgba(0,0,0);
    word-spacing:0;
    height: 48px;
    width: 800px;
    padding: 0 16px;
    align-items: center;
    background-color: #86be6c;
}
.corner{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 2rem 0 2rem;
}

.map_container{
  width: 800px;
  height: 500px;
  background-color: beige;
  border-radius: 4px;
  overflow: hidden;
}

#notification_panel {
    font-weight: 700;
    color: rgb(51, 56, 61);
    position: absolute;
    z-index: 500;
    height: 600px;
    width: 350px;
    right: -350px;
    top: 70px;
    background-color: rgba(54, 99, 59, 0.1);
    border-top-left-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: right 0.3s ease-in-out;
  
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 10em;
      height: calc(100% - 20em);
      width: calc(100% - 20em);
      border-top: 2px solid rgba(225, 225, 225, 0.2);
      border-left: 1px solid rgba(225, 225, 225, 0.1);
      border-right: 1px solid rgba(225, 225, 225, 0.3);
      z-index: 2;
    }
  }

  .notification_msz{
    padding: .4rem;
    margin: 1rem;
    border: 2px solid rgba(106, 108, 106,0.4);
    border-radius: 3px;
  }
.Container_for_datacard{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: justify;
    min-height: 150px;
    background-color:rgba(134, 190, 108, 0.1);
    border: 2px solid rgba(134, 190, 108, 0.2);
    border-radius: 5px;
}
.Data_card{
    display: flex;
    justify-content: center;
    text-align:start;
    padding: 8px;
    width: 800px;
}
.Data_card > div{
  margin: 0 10px ;
}
 .crops_details{
    margin-top: 20px;
    height: calc(100vh *0.4);
    text-align: center;
 }
 .crop_cont_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
 
  
 }
 .crop_cont{
  position: relative;
   height: 150px;
   width: 190px;
   background-color: rgba(134, 190, 108, 0.5);
   text-align: center;
   
 }
 .crop_cont span{
    padding: 0 10px;
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
 }

 .footer_container{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #3e3e3e;
    line-height: 1.4;
  
    display: grid;
    min-height: 100vh;
    align-items: flex-end;
 }
 .about_section{
    display: flex;
    align-items:center;
    justify-content: center;
    max-width: 1019.2px;
 }
 .short_about{
    padding: 0 0 0 2rem;
    height: 75vh;
    display: flex;
    align-items:left;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    
 }

 .short_about h1 {
    line-height: 2.5rem;
    font-size: 3rem;
 }
 .short_about h2 {
    font-size: 1.3rem;
 }

 .short_about p {
    font-size: 1rem;
 }
 .illustration1{
    height: 550px;
    width: 600px;
    background-image:url("../images/illu1.png");
    background-repeat:no-repeat ;
    background-position: center;
    background-size: contain;

 }

 footer {
    background-color: var(--mainClr);
    padding-block-start: 100px;
    border-radius:5px 5px 0 0 ;
  
    & .container {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      gap: 30px;
      padding-inline: 15px;
      
    }
  }
  
  .container {
    width: min(1170px, 100%);
    margin-inline: auto;
   
  }
  
  .footer__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h3.footer__title {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    letter-spacing: 0.5px;
  }
  
  .copyrightText {
    border-block-start: 1px solid rgba(255, 255, 255, 0.1);
    margin-block-start: 30px;
    padding: 20px 15px;
    text-align: center;
  }
  
  h3.footer__title::after {
    content: "";
    width: 50px;
    height: 2px;
    background: rgba(22, 22, 22, 0.5);
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: -10px;
  }
  
  ul.footer__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  ul.footer__links li {
    position: relative;
  }
  ul.footer__links li a {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 0.8;
  }
  
  ul.footer__links li a:is(:hover, :focus, .active) {
    opacity: 1;
  }
  
  .address {
    gap: 15px;
  }
  
  .address li a {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  .address li i {
    font-size: 20px;
  }
  
  ul.socail__links {
    display: flex;
    gap: 10px;
  }
  
  ul.socail__links li a {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.5s ease-in-out;
  }
  
  ul.socail__links li a:is(:hover, :focus, .active) {
    background-color: var(--clr);
    color: #333333;
  }
  .footer__block p {
    line-height: 2;
  }
  p {
    opacity: 0.8;
  }
  
  @media (max-width: 900px) {
    footer {
      & .container {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media (max-width: 640px) {
    footer {
      & .container {
        grid-template-columns: 1fr;
      }
    }
    ul.extra__links {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px 30px;
    }
  
    ul.extra__links li:not(:last-child)::after {
      content: "/";
      position: absolute;
      inset-inline-end: -15px;
      inset-block-start: 2px;
      opacity: 0.2;
    }
    body {
      font-size: 13px;
    }
  }

  .logo{
    width: 6rem;
  }

  /* search bar */
  input#search_bar{
    /* position: absolute; */
    /* top: 6px; */
    /* height: 35px; */
    /* padding: 0 95px; */
    font-size: .8rem;
    /* border: 1px solid #D0CFCE; */
    /* border-radius: 3px; */
    /* opacity: 0.7; */
    /* outline: none; */
    &:focus{
      border: 1px solid #88b384;
      transition: 0.35s ease;
      color: #2f6035;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  .search-icon{
    float: right;
    width: 55px;
    height: 55px;
    top: -62px;
    right: -45px;
  }
/* suggestion of district */
  .suggestions {
    top:50px;
    left: 260px;
    height: 150px;
    width: 360px;
    position: absolute;
    overflow-y: hidden;
    background: rgba(134, 190, 108,0.5);
    color: white;
    display: none;
  }
  .suggestions ul {
    list-style-type: none;
    padding: 0;
  }

  .suggestions li {
    padding: 5px;
    cursor: pointer;
  }

  .suggestions li:hover {
    background-color: #f2f2f2;
  }
  .experts_title{
    font-size: 1.3rem;
  }
  .connect_experts{
    position: relative;
    padding: 0 3rem;
    height: 45vh;
    min-width: 705px;
    width: 80%;
    background-color:rgba(134, 190, 108,1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .card{
    
    height:250px ;
    width: 200px;
    max-height:300px ;
    max-width: 250px;
    background-color: white;
    border-radius: 10px 0 10px 0;
    overflow: hidden;
    opacity: 0.9;
    transition: filter 0.3s ease-in-out;
  }
  .card:nth-child(2) {
background-image: url(../images/expert1.png);
background-size: cover;
  }
  .card:nth-child(3) {
    background-image: url(../images/expert2.png);
    background-size: cover;
      }
      .card:nth-child(4) {
        background-image: url(../images/expert3.png);
        background-size: cover;
          }
.card:hover{
  filter: brightness(110%);
  opacity: 1;

}
.Nameadress {
  position: absolute;
  bottom: 0px;
  color: #e7eae8;
  font-size: 1.1rem;
  transition: bottom 0.3s ease-in-out;
}

.Nameadress:hover {
  bottom: 0;
}
.contactbtn{
 border-radius: 3px;
 padding: 2px;
 font-size:.8rem ;
 outline: none;
 border: none;
 transition: 0.3s ease-in-out;
 margin-left: 3px;
 margin-bottom: 3px;
}
.contactbtn:hover{
  background-color: #D0CFCE;
}
.premium{
  position: absolute;
  color: gold;
  top: 0;
  left: 10px;
}

/* for information cards */
.container_showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
  max-width: 1400px;
  background-color:#86BE6C;
  padding: 20px;
  border-radius: 10px;
}
.to_align_between{
min-width: 1000px;
display: flex;
justify-content: space-around;
align-items: center;
}
.card_showcase {
  background-color: white;
  height: 280px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  font-size: .8rem;
  transition: height 0.3s ease-in-out;
}
.card_showcase:hover{
  height: 288px;
}
.card_showcase img {
  max-width: 100px;
  margin: 0 auto 10px;
  display: block;
}
