:root{
    --clr-primary: #0F0F0F;
    --clr-secondary: #FCFCFC; 
    --clr-third: #def6e5;
}

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    background-color:#e7eae8;
    font-family: var(--primary-font);
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items:center;
    overflow-x:hidden;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--clr-secondary) ;
    font-size: 1rem;
}
a:hover{
    color: var(--clr-third);
}

header{
    margin-top: 10px;
    position: sticky;
    top: 10px;
    padding: 0 4rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links{
    background-color: aquamarine;
}
.navbar .links {
    display: flex;
    gap: 2rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none solid rgba(0,0,0);
    word-spacing:0;
    height: 48px;
    width: 600px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #86be6c;
    border-radius:10px;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px,
               rgba(0, 0, 0, 0) 0px 0px 0px 0px,
               rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
               rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    
}

/* End header here */

.map_container{
  width: 800px;
  height: 500px;
  background-color: beige;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  overflow: hidden;
}

#notification_panel {
    font-weight: 700;
    color: white;
    position: absolute;
    z-index: 500;
    height: 600px;
    width: 350px;
    right: -350px;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
  
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 10em;
      height: calc(100% - 20em);
      width: calc(100% - 20em);
      border-top: 2px solid rgba(225, 225, 225, 0.2);
      border-left: 1px solid rgba(225, 225, 225, 0.1);
      border-right: 1px solid rgba(225, 225, 225, 0.3);
      z-index: 2;
    }
  }
  /* end of notification panel */
.Container_for_datacard{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: justify;
    min-height: 150px;
    width: 50%;
    background-color:#aafae0 ;
    border: 2px solid #5fc7b8;
    border-radius: 5px;
}
.Data_card{
    display: flex;
    text-align:start;
}
 /*------------------- Crops details ---------------------*/
 .crops_details{
    margin-top: 20px;
    height: calc(100vh *0.4);
    color: WHITE;
    text-align: center;
 }
 .crop_cont_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
 
  
 }
 .crop_cont{
  position: relative;
   height: 150px;
   width: 190px;
   background-color: rgba(116, 208, 194,0.3);
   text-align: center;
   
 }
 .crop_cont span{
    padding: 0 10px;
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
 }